language: java
notifications:
  email: false
  slack: fallanditurninn:XO6AI0eBjaYis0hTIzbunM44
deploy:
  provider: heroku
  api_key: acb27651-119b-486d-991a-7989c9b0cd23
  app: tranquil-castle-98562
  on:
    repo: FallandiTurninn/TicTacToe
before_install:
 - chmod +x gradlew