{{#partial "board-container"}}
            <div id="boardContainer">
                <h4 id="gameInfo">Game started.</h4>
                <button id="restart-game-button" type="submit" class="btn btn-default">Restart Game</button>
                <div class="gameBoard">
                    <table>
                        <tr>
                            <td id="0" class="gameCell"></td>
                            <td id="1" class="gameCell"></td>
                            <td id="2" class="gameCell"></td>
                        </tr>
                        <tr>
                            <td id="3" class="gameCell"></td>
                            <td id="4" class="gameCell"></td>
                            <td id="5" class="gameCell"></td>
                        </tr>
                        <tr>
                            <td id="6" class="gameCell bottomCell"></td>
                            <td id="7" class="gameCell bottomCell"></td>
                            <td id="8" class="gameCell bottomCell"></td>
                        </tr>
                    </table>
                </div>
            </div>
{{/partial}}

{{> index.hbs}}