{{#partial "board-container"}}
            <div id="boardContainer">
                <div class="gameInfo">
                    <h3>This is info container</h3>
                </div>
                <div class="gameBoard">
                <table id="board">
                    <tr>
                        <td id="0-0"></td>
                        <td id="0-1"></td>
                        <td id="0-2"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td id="1-0"></td>
                        <td id="1-1"></td>
                        <td id="1-2"></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td id="2-0" class="bottom-td"></td>
                        <td id="2-1" class="bottom-td"></td>
                        <td id="2-2" class="bottom-td"></td>
                    </tr>
                </table>
                </div>
                
            </div>
{{/partial}}

{{> index.hbs}}