<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="CSS/style.css">
    </head>
    <body>
        <div id="mainContainer">
            <div class="dynHeader">
                <h1>Tic Tac Toe</h1>
                <div></div>
            </div>
            
            {{#block "start-container"}}
            {{/block}}
            {{#block "board-container"}}
            {{/block}}  
            
        </div>
        <script src="JS/script.js"></script>
    </body>
</html>