{{#partial "start-container"}}
            <div class="startContainer">
                <form action="/game" method="post">
                    <div class="form-group">        
                        <label class="control-label col-sm-2" for="gameMode">Choose game mode:</label>
                        <div class="col-sm-10">
                            <select name="gameMode" class="form-control" id="gameSelect">
                                <option value="1">One Player</option>
                                <option value="2">Two Player</option>
                            </select>
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Start</button>
                        </div>
                    </div>
                </form>
            </div>
{{/partial}}

{{> index.hbs}}